<div class="dashboard-wrapper">
  <aside class="instructor-sidebar">
    <div class="brand">EduStream <br> <span>Instructor</span></div>
    <nav>
      <a routerLink="/instructor/dashboard" routerLinkActive="active" class="nav-item">
        <i class="icon">📊</i><span>Dashboard</span>
      </a>
      <a routerLink="/instructor/my-courses" routerLinkActive="active" class="nav-item">
        <i class="icon">📚</i><span>My Courses</span>
      </a>
      <a routerLink="/instructor/students" routerLinkActive="active" class="nav-item">
        <i class="icon">👨‍🎓</i><span>Student List</span>
      </a>
    </nav>
  </aside>

  <main class="dashboard-main">
    <router-outlet></router-outlet>
  </main>
</div>