.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
  background-color: #1a1a40; /* The deep navy from your design */
  color: white;
}

.nav-link-active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #00b894; /* The green accent in your image */
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
